<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/reviews/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>

    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% @reviews.each do |review| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= link_to review.user.username, "/users/#{review.user.id}" %>
          <small>
            <%= time_ago_in_words(review.created_at) %> ago
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <%= review.body %>
        </p>
        <%if review.user.id == current_user.id%>
        <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow"><i class="fa fa-times" aria-hidden="true"></i></a>
        <% end %>
      </div>
    </div>
    <% end %>



  </div>
</div>
