<!-- Validation failure messages -->
<% if @location.errors.any? %>
<% @location.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <h3>Edit Location <%= @location.name %></h3>
        </h3>
      </div>
      <div class="panel-body">



        <form action="/update_location/<%= @location.id %>" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="control-label">
              Name
            </label>

            <input id="name" name="name" placeholder="Name" class="form-control" rows="3" value="<%= @location.name %>">
          </div>

          <!-- Label and input for address -->
          <div class="form-group">
            <label for="address" class="control-label">
              Address
            </label>

            <input id="address" name="address" placeholder="Address" class="form-control" value="<%= @location.address %>">
          </div>

          <!-- Label and input for lat -->
          <div class="form-group">

            <input type="hidden" id="lat" name="lat" placeholder="Lat" class="form-control" value="<%= @location.lat %>">
          </div>

          <!-- Label and input for lng -->
          <div class="form-group">
            <input type="hidden" id="lng" name="lng" placeholder="Lng" class="form-control" value="<%= @location.lng %>">
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">

            <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @location.user_id %>">
          </div>

          <button class="btn btn-warning">
            Update Location
          </button>
          or
          <a href="/locations/<%= @location.id %>">Cancel</a>
        </form>
      </div>
    </div>
  </div>
