<div class="page-header">
  <h1>Location <%= @location.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @location.name %></dd>

  <dt>Address</dt>
  <dd><%= @location.address %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitute %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>


</dl>

<div class="btn-group btn-group-justified">
  <a href="/locations" class="btn btn-primary">
    Back
  </a>
  <a href="/locations/<%= @location.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/delete_location/<%= @location.id %>" class="btn btn-danger" rel="nofollow">
    Delete
  </a>
</div>


<form>


  <button>Check In</button>
</form>
